*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  

}

body{
    max-width: 100%;
}

h1{
    color: white;
}

.container{
    /* border: 2px solid white; */
    position: relative;
    top: -13px;
    background-color: #005046;
    height: 75px;
  

}

.heading{
    /* border: 2px solid white; */
    /* display: inline; */
    width: 132px;
    margin-top: 11px;
    position: relative;
    top: 21px;
    left: 33px;
}

nav{
    position: relative;
    top: 0;
    position: fixed;
}

nav ul{
    position: relative;
    left: 555px;
    padding: 15px;
    margin: 13px;
    top: -6px;
}


nav ul li{
    display: inline-block;
}

nav ul li a{
    color: white;
    text-decoration: none;
    margin: 25px;
    font-size: 2.5vh;

}

.heading h2 span{
     color: #ffa56e;
}

.heading{
    color: white;
}

.search{
    float: right;
    margin-right: 73px;
    margin-top: -4px;
}

.search input{
    border-radius: 8px;
    outline: none;
    background-color: white;
    height: 30px;
    text-align: center;
}

nav ul li a:hover{
    color: #ffa56e;
}